/* Notification */

.notification-area {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 102;
    transform: translate(-50%, 0);

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 60%;
}

.notification-area > .notification {
    background-color: var(--notification-background-color);
    border: var(--notification-border);
    border-radius: 0.25rem;
    margin: 0.2rem;

    /* Need to inherit z-index from parent, otherwise they won't appear on top of dialogs in iOS Safari */
    z-index: inherit;

    text-align: center;

    opacity: 1;
    transition: opacity 0.25s;
}

.notification-area > .notification > div.notification-content {
    padding: 1rem 1.5rem;
    font-weight: bold;
    color: var(--notification-text-color);
}
