.swipe-area {
    position: absolute;
    top: 25vh;
    opacity: 0;
    width: 100%;
    bottom: max(env(safe-area-inset-bottom), 50px);
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    user-select: none;
}
