node_modules
build

state.json
preferences.json

*.env*
!*.env.example

# Cypress output
cypress/videos
cypress/screenshots/*

# Whitelist manual visual regression screenshot directories
!cypress/screenshots/viewport.cy.ts
!cypress/screenshots/screenshot.cy.ts

# Test results
results/*.xml

# SSL certs
ssl/

# Misc
.DS_Store

# Icons
/dist/icons
