node_modules
build

state.json
preferences.json

*.env*
!*.env.example

# Cypress output
cypress/videos
cypress/screenshots/*

# Whitelist manual visual regression screenshot directories
!cypress/screenshots/viewport.cy.ts
!cypress/screenshots/screenshot.cy.ts

# Test results
results/*.xml

# SSL certs
ssl/

# Misc
.DS_Store

# Ignore everything in the dist directory
dist/**

# Allow access to the icons directory
!dist/icons/

# Ignore everything in the icons directory
dist/icons/*

# Allow specific icon files
!dist/icons/icon*_LOCAL.png
