{
    "tabWidth": 4,
    "printWidth": 100,
    "overrides": [
        {
            "files": "package*.json",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "pnpm*.yaml",
            "options": {
                "singleQuote": true,
                "tabWidth": 2
            }
        }
    ]
}
