/* Fonts */

@font-face {
    font-family: "Comic Neue";
    src: url("./fonts/comicneue/ComicNeue-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Comic Neue";
    src: url("./fonts/comicneue/ComicNeue-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}

/* Variables */

:root {
    --green: green;
    --yellow: #eec039;
    --orange: #f5793a;
    --blue: #85c0f9;
    --black: #000;
    --white: #fff;
    --gray-1: rgb(22, 22, 22);
    --gray-2: #333;
    --gray-3: #737373;
    --gray-4: grey;
    --gray-5: #aaa;
    --gray-6: rgb(202, 202, 202);
    --gray-7: lightgrey;

    --beige: bisque;
    --darkorange: #ff7410;
    --lightorange: #ffc296;

    --standard-color: var(--gray-5);
    --standard-block-color: var(--gray-4);
    --correct-color: var(--green);
    --within-color: var(--yellow);
    --incorrect-color: var(--gray-2);
    --pressed-color: var(--gray-4);
    --held-color: var(--gray-6);

    --box-border-color: var(--gray-3);
    --box-border-color-highlighted: var(--gray-5);

    --settings-item-border-color: 1px solid var(--gray-4);

    --background-color: var(--beige);
    --fallback-background-color: var(--background-color);
    --item-background-color: rgba(0, 0, 0, 0);
    --dialog-background-color: var(--beige);

    --text-color: var(--black);
    --letter-text-color: var(--white);
    --letter-selected-text-color: var(--white);

    --text-font-family: sans-serif;

    --notification-background-color: var(--gray-7);
    --notification-text-color: var(--black);

    --block-2-color: var(--gray-7);
    --block-4-color: var(--lightorange);
    --block-8-color: var(--darkorange);
    --block-16-color: #ff6a00;
    --block-32-color: #ff6334;
    --block-64-color: #d80202;
    --block-128-color: #fff153;
    --block-256-color: #f1e66c;
    --block-512-color: rgb(235, 199, 107);
    --block-1024-color: rgb(234, 207, 137);
    --block-2048-color: #ecd800;
    --block-max-color: #ffea00;

    --block-2-text-color: var(--white);
    --block-4-text-color: var(--black);
    --block-8-text-color: var(--white);
    --block-16-text-color: var(--white);
    --block-32-text-color: var(--white);
    --block-64-text-color: var(--white);
    --block-128-text-color: var(--black);
    --block-256-text-color: var(--black);
    --block-512-text-color: var(--white);
    --block-1024-text-color: var(--white);
    --block-2048-text-color: var(--white);
    --block-max-text-color: var(--black);

    --classic-checkerboard-color: rgb(128, 128, 128);
}

.light {
    --standard-color: var(--gray-5);
    --standard-block-color: var(--white);
    --correct-color: var(--green);
    --within-color: var(--yellow);
    --incorrect-color: var(--gray-3);

    --box-border-color: var(--gray-7);
    --box-border-color-highlighted: var(--gray-5);

    --background-color: var(--white);
    --dialog-background-color: var(--gray-6);

    --text-color: var(--black);
    --letter-text-color: var(--black);
    --letter-selected-text-color: var(--white);

    --notification-background-color: var(--black);
    --notification-text-color: var(--white);
}

.snow {
    --background-color: linear-gradient(180deg, rgba(2, 0, 36, 1) 40%, rgba(9, 9, 121, 1) 100%);
    --fallback-background-color: rgb(2, 0, 36);

    --standard-block-color: rgba(0, 0, 0, 0);
}

.classic {
    --background-color: rgb(169, 169, 169);

    --standard-block-color: rgb(0, 0, 0, 0);

    --text-font-family: "Comic Sans MS", "Comic Neue", sans-serif;

    --block-2-color: rgb(102, 102, 213);
    --block-4-color: rgb(104, 104, 211);
    --block-8-color: rgb(108, 108, 207);
    --block-16-color: rgb(116, 116, 199);
    --block-32-color: rgb(132, 132, 183);
    --block-64-color: rgb(164, 164, 151);
    --block-128-color: rgb(228, 228, 87);
    /* These values are as calculated from 2048Clone's "Modern" color theme */
    --block-256-color: rgb(356, 356, -41);
    --block-512-color: rgb(612, 612, -297);
    --block-1024-color: rgb(1124, 1124, -809);
    --block-2048-color: rgb(2148, 2148, -1833);
    --block-max-color: rgb(4196, 4196, -3881);

    --block-2-text-color: var(--black);
    --block-4-text-color: var(--black);
    --block-8-text-color: var(--black);
    --block-16-text-color: var(--black);
    --block-32-text-color: var(--black);
    --block-64-text-color: var(--black);
    --block-128-text-color: var(--black);
    --block-256-text-color: var(--black);
    --block-512-text-color: var(--black);
    --block-1024-text-color: var(--black);
    --block-2048-text-color: var(--black);
    --block-max-text-color: var(--black);
}

.high-contrast {
    --correct-color: var(--orange);
    --within-color: var(--blue);
}

/* Main Content */

html {
    font-size: 125%;
    font-family: var(--text-font-family);
}

body {
    background: var(--fallback-background-color);
    background: var(--background-color);
    margin: 0;
    overflow: hidden;
}

body.classic {
    background-image: url("/images/CheckerboardTiles.png");
}

svg {
    color: var(--text-color);
}

.top-menu {
    position: relative;
    background-color: var(--item-background-color);
    border-bottom: 1px solid var(--standard-color);
    padding: 1rem;
    font-size: 1rem;
    font-family: var(--text-font-family);
    text-transform: uppercase;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    height: 160px;
    box-sizing: border-box;
}

.top-menu > .icon-bar {
    position: absolute;
    right: 20px;
}

.top-menu > .icon-bar > a.link-icon {
    text-decoration: none;
    margin-right: 4px;
}

.top-menu > .icon-bar > a.link-icon:last-child {
    margin-right: 0;
}

body.classic .top-menu > .title {
    display: none;
}

body.classic .top-menu > .classic-logo {
    display: block !important;
    width: 200px;
}

.game-space {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.back-rows {
    position: absolute;
    padding: 2px;
    background-color: goldenrod;
    transform: translateY(-50%);
}

body.classic .back-rows {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    padding: 0px;
}

.wordle-rows {
    position: absolute;
    padding: 2px;
    transform: translateY(-50%);
}

.keyboard-view {
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    height: max-content;
}

.game-wrapper {
    position: relative;
    left: 50%;
    width: 50vw;
    height: 100%;
    transform: translateX(-50%);
}

.input-row {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 3rem;
}

.back-row {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 3rem;
}

.pane > .space {
    flex: 1;
}

.pane .pane-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media (max-width: 1028px) {
    .game-wrapper {
        width: 100%;
    }
}

.pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: calc(100% - 64px);
    width: 100%;
    transform-origin: top;
}

.pane h1,
h2,
h3,
h4,
h5 {
    color: var(--text-color);
}

.pane > .footer {
    color: var(--text-color);
    text-align: center;
}

button {
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

button.close {
    z-index: 1;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-color);
}

/* Settings */

.settings {
    position: relative;
}

.settings > button.close {
    position: absolute;
    top: 0;
    right: 0;
}

.settings > .settings-item-group {
    width: 100%;
}

.settings .settings-item {
    color: var(--text-color);
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-top: var(--settings-item-border-color);
    border-bottom: none;
    height: 2em;
}

.settings .settings-item:last-child {
    border-bottom: var(--settings-item-border-color);
}

.settings .settings-item > * {
    pointer-events: none;
}

.settings .settings-item > a {
    text-decoration: none;
}

.settings .settings-item .settings-item-column {
    width: 100%;
    display: flex;
    justify-content: center;
}

.settings .settings-item .settings-item-column:last-child {
    width: 60%;
}

.settings .settings-item .settings-item-column > .toggle {
    text-transform: capitalize;
}

/* Overlay Backdrop */

.overlay-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 100;
}

/* Dialog Window */

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    z-index: 101;
    transform: translate(-50%, -50%);

    background-color: var(--dialog-background-color);
    color: var(--text-color);
    border: 1px solid black;
    width: 300px;
    height: auto;

    opacity: 1;

    transition: transform 0.5s, opacity 0.75s;
}

.dialog > div.dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}

.dialog button > span {
    margin-left: 8px;
    color: var(--text-color);
}

.dialog button.close {
    position: absolute;
    top: 0;
    right: 0;
}

/* Specific Dialogs */

.dialog button.share-button {
    background-color: var(--correct-color);
}

.dialog button.share-button > * {
    color: var(--letter-selected-text-color);
}

.dialog > .dialog-content > .how-to-play {
    height: 100%;
    top: -20px;
    position: relative;
}

.dialog > .dialog-content > .how-to-play > h2 {
    text-transform: uppercase;
}

.dialog > .dialog-content > .how-to-play div.sample {
    display: flex;
}

.dialog > .dialog-content > .how-to-play > div.meaning > span.text {
    font-size: 0.75em;
}

/* Notification */

.notification-area {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 101;
    transform: translate(-50%, 0);

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 60%;
}

.notification-area > div.notification {
    background-color: var(--notification-background-color);
    border: 1px solid var(--notification-background-color);
    border-radius: 0.25rem;
    margin: 0.2rem;

    text-align: center;

    opacity: 1;
    transition: opacity 0.25s;
}

.notification-area > div.notification > div.notification-content {
    padding: 1rem 1.5rem;
    font-weight: bold;
    color: var(--notification-text-color);
}

/* Landscape Overlay */

#landscape-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-color);
    text-align: center;
    font-size: 24px;
    color: var(--text-color);
    z-index: 9999;
}

#landscape-overlay > .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#landscape-overlay > .overlay-content > img {
    height: 100px;
}

/* Error Content */

span.error-text {
    margin: 1em;
}

/* Text Content */

a {
    color: var(--text-color);
}

/* Boxes */

.box {
    padding: 1em;
    margin: 3px;
    border: 1px solid black;
    line-height: 1.9em;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.25s ease, top 0.1s ease, left 0.1s ease;
}

body.classic .box {
    margin: 0px;
    border: 1px solid black;
}

.box .box-letter {
    display: block;
    position: absolute;
    line-height: normal;
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--text-font-family);
    text-transform: uppercase;
    color: var(--letter-text-color);
}

.box.number-block {
    background-color: var(--block-max-color);
}

.box.number-block > .box-letter {
    color: var(--block-max-text-color);
}

.box.number-block.block-2 {
    background-color: var(--block-2-color);
}

.box.number-block.block-2 > .box-letter {
    color: var(--block-2-text-color);
}

.box.number-block.block-4 {
    background-color: var(--block-4-color);
}

.box.number-block.block-4 > .box-letter {
    color: var(--block-4-text-color);
}

.box.number-block.block-8 {
    background-color: var(--block-8-color);
}

.box.number-block.block-8 > .box-letter {
    color: var(--block-8-text-color);
}

.box.number-block.block-16 {
    background-color: var(--block-16-color);
}

.box.number-block.block-16 > .box-letter {
    color: var(--block-16-text-color);
}

.box.number-block.block-32 {
    background-color: var(--block-32-color);
}

.box.number-block.block-32 > .box-letter {
    color: var(--block-32-text-color);
}

.box.number-block.block-64 {
    background-color: var(--block-64-color);
}

.box.number-block.block-64 > .box-letter {
    color: var(--block-64-text-color);
}

.box.number-block.block-128 {
    background-color: var(--block-128-color);
}

.box.number-block.block-128 > .box-letter {
    color: var(--block-128-text-color);
}

.box.number-block.block-256 {
    background-color: var(--block-256-color);
}

.box.number-block.block-256 > .box-letter {
    color: var(--block-256-text-color);
}

.box.number-block.block-512 {
    background-color: var(--block-512-color);
}

.box.number-block.block-512 > .box-letter {
    color: var(--block-512-text-color);
}

.box.number-block.block-1024 {
    background-color: var(--block-1024-color);
}

.box.number-block.block-1024 > .box-letter {
    color: var(--block-1024-text-color);
}

.box.number-block.block-2048 {
    background-color: var(--block-2048-color);
}

.box.number-block.block-2048 > .box-letter {
    color: var(--block-2048-text-color);
}

/* Colours */

.standard {
    background-color: var(--standard-color);
}

.box {
    background-color: var(--standard-block-color);
    border: 1px solid var(--box-border-color);
}

.box > .box-letter {
    user-select: none;
    -webkit-user-select: none;
}

/* Special */

.embedim-snow {
    pointer-events: none;
}

body .footer > .snow-theme-credits {
    opacity: 0;
    pointer-events: none;
}

body.snow .footer > .snow-theme-credits {
    opacity: 1;
    pointer-events: initial;
}

body .footer a.author-link {
    text-decoration: none;
}

body a > .version-number {
    pointer-events: initial;
}

#swipeArea {
    position: absolute;
    top: 25vh;
    opacity: 0;
    width: 100%;
    height: 75vh;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    user-select: none;
}

.game.pane > .commands {
    z-index: 1001;
}

/* Settings Knob */

.knob {
    position: relative;

    width: 50px;
    height: 22px;
    border-radius: 8em;
    background-color: var(--gray-2);

    transition: background-color 0.25s;
}

.knob.enabled {
    background-color: var(--correct-color);
}

.knob > .knob-inside {
    position: absolute;
    top: 1px;
    left: 1px;

    width: 20px;
    height: 20px;
    background-color: var(--gray-7);
    border-radius: 8em;

    transition: left 0.25s;
}

.knob.enabled > .knob-inside {
    left: 29px;
}

/* Settings Slider */

.slider {
    position: relative;

    width: 200px;
    height: 22px;
    border-radius: 8em;
    background-color: var(--gray-2);

    transition: background-color 0.25s;
}

.slider.enabled {
    background-color: var(--correct-color);
}

.slider > .slider-inside {
    position: absolute;
    top: 1px;
    left: 1px;

    width: 20px;
    height: 20px;
    background-color: var(--gray-7);
    border-radius: 8em;

    transition: left 0.25s;
}

.slider.enabled > .slider-inside {
    left: 29px;
}
