.dark {
    --standard-block-color: #2a2a2a;

    --background-color: #1c1c1c;

    --dialog-background-color: var(--gray-2);
    --text-color: var(--white);

    --back-layer-color: var(--white);

    --block-2-color: #5f5f5f;
    --block-4-color: #6c6c6c;
    --block-8-color: #8c8c8c;
    --block-16-color: #a07c5a;
    --block-32-color: #b06c4a;
    --block-64-color: #c0603a;
    --block-128-color: #c4a444;
    --block-256-color: #c4a040;
    --block-512-color: #c4a03c;
    --block-1024-color: #c4a038;
    --block-2048-color: #c4a034;
    --block-4096-color: #748cab;
    --block-8192-color: #596d89;
    --block-16384-color: #3c4d68;
    --block-32768-color: #2b3747;
    --block-65536-color: #1b1f28;
    --block-max-color: var(--gray-2);

    --block-2-text-color: #e0e0e0;
    --block-4-text-color: #e0e0e0;
    --block-8-text-color: #e0e0e0;
    --block-16-text-color: #e0e0e0;
    --block-32-text-color: #e0e0e0;
    --block-64-text-color: #e0e0e0;
    --block-128-text-color: #ffffff;
    --block-256-text-color: #ffffff;
    --block-512-text-color: #ffffff;
    --block-1024-text-color: #ffffff;
    --block-2048-text-color: #ffffff;
    --block-4096-text-color: #ffffff;
    --block-8192-text-color: #ffffff;
    --block-16384-text-color: #ffffff;
    --block-32768-text-color: #ffffff;
    --block-65536-text-color: #ffffff;
    --block-max-text-color: #ffffff;
}
