.light {
    --standard-color: var(--gray-5);
    --standard-block-color: #cdc1b4;

    --box-border-color: #8f7a66;
    --box-border-color-highlighted: var(--gray-5);

    --background-color: var(--white);
    --dialog-background-color: var(--gray-6);

    --text-color: var(--black);
    --letter-text-color: var(--black);
    --letter-selected-text-color: var(--white);

    --notification-background-color: var(--black);
    --notification-text-color: var(--white);

    --back-layer-color: #bbada0;

    --block-2-color: #eee4da;
    --block-4-color: #ede0c8;
    --block-8-color: #f2b179;
    --block-16-color: #f59563;
    --block-32-color: #f67c5f;
    --block-64-color: #f65e3b;
    --block-128-color: #edcf72;
    --block-256-color: #edcc61;
    --block-512-color: #edc850;
    --block-1024-color: #edc53f;
    --block-2048-color: #edc22e;
    --block-4096-color: #3da5d9;
    --block-8192-color: #326589;
    --block-16384-color: #283552;
    --block-32768-color: #1c2235;
    --block-65536-color: #0f111a;
    --block-max-color: #12110a;

    --block-2-text-color: #534f4b;
    --block-4-text-color: #534f4b;
    --block-8-text-color: #534f4b;
    --block-16-text-color: #534f4b;
    --block-32-text-color: #534f4b;
    --block-64-text-color: #534f4b;
    --block-128-text-color: #534f4b;
    --block-256-text-color: #534f4b;
    --block-512-text-color: #534f4b;
    --block-1024-text-color: #534f4b;
    --block-2048-text-color: #534f4b;
    --block-4096-text-color: #f9f6f2;
    --block-8192-text-color: #f9f6f2;
    --block-16384-text-color: #f9f6f2;
    --block-32768-text-color: #f9f6f2;
    --block-65536-text-color: #f9f6f2;
    --block-max-text-color: #f9f6f2;
}

body.light button.button {
    background-color: #e5e5e5;
    border: 2px solid #e0e0e0;
}

/* NTS: Hover color still appears and won't go away after tapping elsewhere on iOS.
    Workaround for now to disable hover color on iOS - https://stackoverflow.com/a/40617793 */
@media (hover) {
    body.light button.button:hover {
        background-color: #f0f0f0;
    }
}

body.light button.button > * {
    color: #5c6bc0;
    font-weight: bold;
}

body.light button.button.share-button > *,
body.light button.button.clipboard-button > * {
    color: #fff;
}

/* NTS: Hover color still appears and won't go away after tapping elsewhere on iOS.
    Workaround for now to disable hover color on iOS - https://stackoverflow.com/a/40617793 */
@media (hover) {
    body.light button.button.share-button:hover > *,
    body.light button.button.clipboard-button:hover > * {
        color: #000;
    }
}

body.light .score-box,
body.light .highscore-box {
    background-color: lightgray;
}

body.light .score-box > .score-label,
body.light .highscore-box > .score-label {
    color: #6b6b6b;
}
