.snow {
    --background-color: linear-gradient(180deg, rgba(2, 0, 36, 1) 40%, rgba(9, 9, 121, 1) 100%);
    --fallback-background-color: rgb(2, 0, 36);

    --dialog-background-color: #070069;
    --text-color: var(--white);

    --standard-block-color: rgb(4, 0, 49);

    --back-layer-color: var(--white);

    --block-2-color: #e0f7fa;
    --block-4-color: #b3e5fc;
    --block-8-color: #81d4fa;
    --block-16-color: #4fc3f7;
    --block-32-color: #29b6f6;
    --block-64-color: #03a9f4;
    --block-128-color: #0277bd;
    --block-256-color: #01579b;
    --block-512-color: #ffa726;
    --block-1024-color: #ffb74d;
    --block-2048-color: #fdd14b;
    --block-4096-color: #ffecb3;
    --block-8192-color: #fff8e1;
    --block-16384-color: #ffffe0;
    --block-32768-color: #fffde7;
    --block-65536-color: #ffffff;
    --block-max-color: #ffffff;

    --block-2-text-color: #2b3a67;
    --block-4-text-color: #2b3a67;
    --block-8-text-color: #2b3a67;
    --block-16-text-color: #2b3a67;
    --block-32-text-color: #2b3a67;
    --block-64-text-color: #2b3a67;
    --block-128-text-color: #ffffff;
    --block-256-text-color: #ffffff;
    --block-512-text-color: #ffffff;
    --block-1024-text-color: #ffffff;
    --block-2048-text-color: #ffffff;
    --block-4096-text-color: #000000;
    --block-8192-text-color: #000000;
    --block-16384-text-color: #000000;
    --block-32768-text-color: #000000;
    --block-65536-text-color: #000000;
    --block-max-text-color: #000000;
}

.snow.tileset-christmas {
    --block-2-color: #d7ccc8;
    --block-4-color: #bcaaa4;
    --block-8-color: #a5d6a7;
    --block-16-color: #81c784;
    --block-32-color: #66bb6a;
    --block-64-color: #4caf50;
    --block-128-color: #78a678;
    --block-256-color: #d86e6e;
    --block-512-color: #ef5350;
    --block-1024-color: #f44336;
    --block-2048-color: #e53935;
    --block-4096-color: #d32f2f;
    --block-8192-color: #b71c1c;
    --block-16384-color: #9c1b1b;
    --block-32768-color: #7f1616;
    --block-65536-color: #5f1010;
    --block-max-color: #5f1010;

    --block-2-text-color: #2e1b0e;
    --block-4-text-color: #2e1b0e;
    --block-8-text-color: #ffffff;
    --block-16-text-color: #ffffff;
    --block-32-text-color: #ffffff;
    --block-64-text-color: #ffffff;
    --block-128-text-color: #ffffff;
    --block-256-text-color: #ffffff;
    --block-512-text-color: #ffffff;
    --block-1024-text-color: #ffffff;
    --block-2048-text-color: #ffffff;
    --block-4096-text-color: #ffffff;
    --block-8192-text-color: #ffffff;
    --block-16384-text-color: #ffffff;
    --block-32768-text-color: #ffffff;
    --block-65536-text-color: #ffffff;
    --block-max-text-color: #ffffff;
}

body.snow button.button {
    background-color: #b3e5fc;
    border: 2px solid #81d4fa;
}

/* NTS: Hover color still appears and won't go away after tapping elsewhere on iOS.
    Workaround for now to disable hover color on iOS - https://stackoverflow.com/a/40617793 */
@media (hover) {
    body.snow button.button:hover {
        background-color: #75d1fb;
    }
}

body.snow button.button > * {
    color: #01579b;
    font-weight: bold;
}

/* Specific Buttons */

body.snow button.button.share-button,
body.snow button.button.clipboard-button {
    border: 2px solid black;
}

body.snow button.button.share-button > *,
body.snow button.button.clipboard-button > * {
    color: white;
}

/* NTS: Hover color still appears and won't go away after tapping elsewhere on iOS.
    Workaround for now to disable hover color on iOS - https://stackoverflow.com/a/40617793 */
@media (hover) {
    body.snow button.button.share-button:hover,
    body.snow button.button.clipboard-button:hover {
        background-color: var(--share-button-background-color-hover);
    }
}

body.snow .score-box,
body.snow .highscore-box {
    background-color: #96dbee;
}

body.snow .score-box > .score-label,
body.snow .highscore-box > .score-label {
    color: #01579b;
}

body.snow .score-box > .score,
body.snow .highscore-box > .highscore {
    color: #1c313a;
}

body.snow .score-box > span {
    color: #fffb00;
}

.embedim-snow {
    pointer-events: none;
}

body .footer > .snow-theme-credits {
    opacity: 0;
    pointer-events: none;
}

body.snow .footer > .snow-theme-credits {
    opacity: 1;
    pointer-events: initial;
}

/* Christmas Lights */

/* Container Div */
.christmas-lights-container {
    display: none;
    pointer-events: none;
}

body.snow.tileset-christmas .christmas-lights-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Bent Green Line */
body.snow.tileset-christmas .green-line {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    height: 20px;
    background: none;
    /* Green line */
    border-top: 3px solid #388e3c;
    /* Curved effect */
    border-radius: 30px;
    /* Slight bend */
    transform: translateY(-50%);
    z-index: 1;
}

/* Flashing Lights */
body.snow.tileset-christmas .christmas-light {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: flash 7.5s infinite step-end;

    position: relative;
    /* Above the line */
    z-index: 2;
}

/* Keyframes for Flashing Colors */
@keyframes flash {
    0% {
        background-color: red;
    }

    17% {
        background-color: lime;
    }

    34% {
        background-color: blue;
    }

    50% {
        background-color: yellow;
    }

    67% {
        background-color: cyan;
    }

    84% {
        background-color: magenta;
    }

    100% {
        background-color: red;
    }
}

@keyframes flash2 {
    0% {
        background-color: blue;
    }

    17% {
        background-color: yellow;
    }

    34% {
        background-color: cyan;
    }

    50% {
        background-color: magenta;
    }

    67% {
        background-color: red;
    }

    84% {
        background-color: lime;
    }

    100% {
        background-color: blue;
    }
}

/* Alternate between the two animations */
body.snow.tileset-christmas .christmas-light:nth-child(odd) {
    animation-name: flash;
}

body.snow.tileset-christmas .christmas-light:nth-child(even) {
    animation-name: flash2;
}
