@import url("./components/dialog.css");
@import url("./components/notification.css");
@import url("./components/knob.css");
@import url("./components/slider.css");
@import url("./components/swipe.css");
@import url("./components/landscape.css");

@import url("./game/menu.css");
@import url("./game/panes/index.css");

@import url("./themes/light.css");
@import url("./themes/dark.css");
@import url("./themes/classic.css");
@import url("./themes/snow.css");

@import url("./block-styles/compact.css");

@import url("./debug.css");

/* Fonts */

/* For the 2048Clone theme, if Comic Sans is not installed on player's device, Comic Neue is used instead. */
/* Comic Neue is available at https://github.com/crozynski/comicneue and licensed 
    under the SIL Open Font License (http://scripts.sil.org/OFL) */

@font-face {
    font-family: "Comic Neue";
    src: url("/fonts/comicneue/ComicNeue-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Comic Neue";
    src: url("/fonts/comicneue/ComicNeue-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}

/* Variables */

:root {
    --green: green;
    --yellow: #eec039;
    --orange: #f5793a;
    --blue: #85c0f9;
    --black: #000;
    --white: #fff;
    --gray-1: rgb(22, 22, 22);
    --gray-2: #333;
    --gray-3: #737373;
    --gray-4: grey;
    --gray-5: #aaa;
    --gray-6: rgb(202, 202, 202);
    --gray-7: lightgrey;

    --beige: bisque;
    --darkorange: #ff7410;
    --lightorange: #ffc296;

    --standard-color: var(--gray-5);
    --standard-block-color: #cdc1b4;

    --hovered-color: var(--yellow);
    --enabled-color: var(--green);

    --box-border-color: var(--gray-3);
    --box-border-color-highlighted: var(--gray-5);

    --settings-item-border-color: 1px solid var(--gray-4);

    --background-color: var(--beige);
    --fallback-background-color: var(--background-color);
    --item-background-color: rgba(0, 0, 0, 0);
    --dialog-background-color: var(--beige);

    --text-color: var(--black);
    --letter-text-color: var(--white);
    --letter-selected-text-color: var(--white);
    --letter-selected-inverted-text-color: var(--white);

    --text-font-family: sans-serif;

    --notification-background-color: var(--gray-7);
    --notification-text-color: var(--black);

    --back-layer-color: goldenrod;

    --block-2-color: #eee4da;
    --block-4-color: #ede0c8;
    --block-8-color: #f2b179;
    --block-16-color: #f59563;
    --block-32-color: #f67c5f;
    --block-64-color: #f65e3b;
    --block-128-color: #edcf72;
    --block-256-color: #edcc61;
    --block-512-color: #edc850;
    --block-1024-color: #edc53f;
    --block-2048-color: #edc22e;
    --block-4096-color: #3da5d9;
    --block-8192-color: #326589;
    --block-16384-color: #283552;
    --block-32768-color: #1c2235;
    --block-65536-color: #0f111a;
    --block-max-color: #ffea00;

    --block-2-text-color: #776e65;
    --block-4-text-color: #776e65;
    --block-8-text-color: #f9f6f2;
    --block-16-text-color: #f9f6f2;
    --block-32-text-color: #f9f6f2;
    --block-64-text-color: #f9f6f2;
    --block-128-text-color: #f9f6f2;
    --block-256-text-color: #f9f6f2;
    --block-512-text-color: #f9f6f2;
    --block-1024-text-color: #f9f6f2;
    --block-2048-text-color: #f9f6f2;
    --block-4096-text-color: #f9f6f2;
    --block-8192-text-color: #f9f6f2;
    --block-16384-text-color: #f9f6f2;
    --block-32768-text-color: #f9f6f2;
    --block-65536-text-color: #f9f6f2;
    --block-max-text-color: #f9f6f2;

    --classic-checkerboard-color: rgb(128, 128, 128);
}

/* Main Content */

html {
    font-size: 125%;
    font-family: var(--text-font-family);
}

body {
    background: var(--fallback-background-color);
    background: var(--background-color);
    margin: 0;
    overflow: hidden;
}

svg {
    color: var(--text-color);
}

a.link-icon {
    position: relative;
}

body a.link-icon.disabled > * {
    color: grey;
}

button {
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

button.close {
    z-index: 1;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-color);
}

button.button {
    font-family: var(--text-font-family);
    padding: 8px;
    margin: 0.5em 0em 0.5em 0em;
    padding: 1em 0.5em 1em 0.5em;
    border-radius: 8em;

    background-color: #8f7a66;
    border: 2px solid #bbada0;
}

button.button:hover {
    background-color: #a58a71;
}

button.button > * {
    color: white;
    font-weight: bold;
}

/* Overlay Backdrop */

.overlay-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 100;
}

/* Specific Buttons */

body button.button.share-button,
body button.button.clipboard-button {
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 8em;
    background-color: var(--green);
}

button.button.share-button > *,
button.button.clipboard-button > * {
    color: var(--letter-selected-inverted-text-color);
    font-weight: bold;
}

button.button.new-game {
    padding: 1em 0.5em 1em 0.5em;
    border-radius: 8em;
    background-color: brown;
}

button.button.new-game > * {
    color: var(--letter-selected-inverted-text-color);
    font-weight: bold;
}

/* NTS: Hover color still appears and won't go away after tapping elsewhere on iOS.
    Workaround for now to disable hover color on iOS - https://stackoverflow.com/a/40617793 */
@media (hover) {
    button.button.share-button:hover,
    button.button.clipboard-button:hover {
        background-color: rgb(0, 82, 0);
    }

    button.button.new-game:hover {
        background-color: rgb(115, 27, 27);
    }
}

/* Error Content */

span.error-text {
    margin: 1em;
}

/* Text Content */

a {
    color: var(--text-color);
}

/* HACK: This will undo the 125% font-size change from html CSS rule.
    Original font-size for loader block text was 2rem.
    2rem / 125% = 1.6rem
*/
.loader > span {
    font-size: 1.6rem;
}

/* How to play */
.dialog > .dialog-content > .how-to-play {
    height: 100%;
    position: relative;
}

.dialog > .dialog-content > .how-to-play > .how-to-play-content {
    padding: 0 0 8px 0;
}

.dialog > .dialog-content > .how-to-play > .how-to-play-content > h2 {
    text-transform: uppercase;
    margin: 12px 0;
}

.dialog > .dialog-content > .how-to-play > .how-to-play-content div.sample {
    display: flex;
}

.dialog > .dialog-content > .how-to-play > .how-to-play-content > div.meaning {
    margin: 12px 0;
}

.dialog > .dialog-content > .how-to-play > .how-to-play-content > div.meaning > div.sample {
    margin: 4px 0;
}

.dialog > .dialog-content > .how-to-play > .how-to-play-content > div.meaning > span.text {
    line-height: 1.25;
    font-size: 0.75em;
}

.how-to-play h1,h2,h3,h4,h5 {
    text-transform: uppercase;
}

.sample-space {
    position: relative;
    height: 240px;

    display: flex;
    justify-content: center;
}

.sample-space .input-row,
.sample-space .back-row {
    max-height: 3rem;
}

.sample-space .box {
    padding: 1em;
}

.sample-space > .overlay-space {
    position: relative;
}

.sample-space > .overlay-space > .tutorial-visual {
    transition: opacity 1s;
}

.sample-space > .overlay-space > .pointing-hand {
    position: absolute;
    top: 25%;
    left: 0;
    transform: initial;
    width: 100px;
    transition: initial;

    animation: hand-move 3s infinite;
}

@keyframes hand-move {
    0% {
        left: 0px;
    }
    100% {
        left: 100px;
    }
}

.sample-space .keyboard-visual {
    position: absolute;
    transform: translate(20%, 50%);
}

.sample-space .keyboard-visual .keyboard-button {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 15px;
    /* Background color of the button */
    background: #e0e0e0;
    /* Slight border to give the button an edge */
    border: 1px solid hsl(0, 0%, 69%);
    /* Rounded corners for a realistic button feel */
    border-radius: 5px;
    /* Outer and inner shadows */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 3px rgba(255, 255, 255, 0.6);
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    /* Text color */
    color: #333;
    /* Slight text shadow for depth */
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    /* Disable text selection */
    user-select: none;
    /* Smooth transition for effects */
    transition: all 0.1s ease-in-out;
}

.sample-space .keyboard-visual .keyboard-button.pressed {
    /* Deeper shadow when "active" */
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), inset -1px -1px 5px rgba(0, 0, 0, 0.2);
    /* Slight movement downwards */
    transform: translateY(1px);
}