name: Deploy to Cloudflare Pages

on: [push]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # Checkout the code
    - name: Checkout Code
      uses: actions/checkout@v6

    # Install ImageMagick
    - name: Install Ghostscript
      run: sudo apt-get update && sudo apt-get install -y ghostscript
    - name: Set up ImageMagick
      uses: mfinelli/setup-imagemagick@v7
      with:
        cache: true

    # Build and process files
    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 10
    - name: Set up Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 22
        cache: "pnpm"
    - name: Print Node.js version
      run: node -v
    - name: Print pnpm version
      run: pnpm -v
    - name: Install dependencies
      run: pnpm install
    - name: Set DEPLOY_ENV environment variable
      run: echo DEPLOY_ENV=${{ vars.DEV_DEPLOY_ENV }} >> $GITHUB_ENV
    - name: Echo DEV_NODE_ENV environment variable
      run: echo ${{ vars.DEV_NODE_ENV }}
    - name: Build
      run: pnpm run build
      env:
        NODE_ENV: ${{ vars.DEV_NODE_ENV }}

    # Deploy to Cloudflare Pages
    - name: Publish to Cloudflare Pages
      uses: cloudflare/wrangler-action@v3
      with:
        command: pages deploy ./build --project-name 2048-clone
        apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
        gitHubToken: ${{ secrets.GITHUB_TOKEN }}
